name: "Publish library to GitHub Packages"
on:
  push:
    branches:
      - release/*

jobs:
  publish-packages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish library
      env:
        USERNAME: fumiya-kume
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: ./gradlew assembleRelease publish
  publish-gh-pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish library
      env:
        USERNAME: fumiya-kume
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: ./gradlew uploadArchives
    - name: Git add
      env:
        USERNAME: fumiya-kume
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: git add .
    - name: Commit changes
      uses: EndBug/add-and-commit@v4
      with:
        author_name: fumiya-kume
        author_email: fumiya.kume@hotmail.com
        message: "add library files"
        add: "."
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Git push
      env:
        USERNAME: fumiya-kume
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: git push
