name: "Publish library to GitHub Packages"
on:
  push:
    branches:
      - release/*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish library
      env:
        USERNAME: fumiya-kume
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: cd AndroidPreferenceCompose && ./gradlew assembleRelease publish
